# Node modules and build outputs
app/server/node_modules
app/server/dist
app/server/dist-ssr
app/server/*.local.env
app/server/jest-stare

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Terraform files
terraform-module/AzureDevOpsPipeline/.terraform/
terraform-module/AzureDevOpsPipeline/*.tfstate
terraform-module/AzureDevOpsPipeline/terraform.tfstate.backup
terraform-module/OnlineBookStore/.terraform.lock.hcl

terraform-module/DeployApplication/back-end/.terraform/
terraform-module/DeployApplication/back-end/*.tfstate
terraform-module/DeployApplication/back-end/terraform.tfstate.backup