# Logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

app/server/node_modules
app/server/dist
app/server/dist-ssr
app/server/*.local

app/server/jest-stare

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Terraform files
terraform-module/AzureDevOpsPipeline/.terraform/
terraform-module/AzureDevOpsPipeline/*.tfstate
terraform-module/AzureDevOpsPipeline/terraform.tfstate.backup
terraform-module/OnlineBookStore/.terraform.lock.hcl