# Node
node_modules
npm-debug.log
yarn-error.log

# Environment
.env

# Logs
logs
*.log

# VCS
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Editor
.vscode
.idea

# Tests / coverage
coverage
