# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

variables:
  containerRegistry: 'myonlinebookstore_serviceConnection'
  imageName: 'backend-server'
  imageTag: $(Build.BuildId)
  System.Debug: true

pool:
  name: SelfHostedLinuxVM

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'
  
- script: |
    npm install
  timeoutInMinutes: 300
  displayName: 'npm install the dependencies'
  workingDirectory: $(Build.SourcesDirectory)/app/server

- script: |
    container=$(docker ps -aq -f name=mongodb)
    if [ -z $container ]; then
      echo "No MongoDB container found — creating and starting it..."
      docker run -d -p 27017:27017 --name mongodb mongo:latest
    elif [ $(docker inspect -f '{{.State.Running}}' mongodb) = "false" ]; then
      echo "MongoDB container not running — starting it..."
      docker start mongodb
    else
      echo "MongoDB already running"
    fi
  displayName: 'Check mongodb container status'

- script: |
    npm run start &
    SERVER_PID=$!
  displayName: 'npm start'
  workingDirectory: $(Build.SourcesDirectory)/server

- script: |
    npm run test -- --ci --runInBand
  displayName: 'npm Jest Test Suites'
  workingDirectory: $(Build.SourcesDirectory)/server

- script: |
    echo "Stopping server with PID $SERVER_PID"
    kill $SERVER_PID
    echo "Stopping MongoDB container"
    docker stop mongodb
  displayName: 'Stopping server and mongoDB containers'

- task: Docker@2
  inputs:
    containerRegistry: '$(containerRegistry)'
    repository: '$(Build.SourceBranchName)/$(imageName)'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(imageTag)
  displayName: "Build and push Image container Registry"

- task: PublishTestResults@2
  inputs:
    testResultsFiles: "server/jest-stare/jest-junit.xml"
    testRunTitle: "Jest Tests"
    failTaskOnFailedTests: true
  condition: succeededOrFailed()
  displayName: "Publish Jest JUnit Test Results"