apiVersion: v1
kind: Service
metadata:
  name: bookstore-mongodb
  namespace: onlinebookstore
spec:
  clusterIP: None
  selector: 
    app: mongo
  ports:
    - port: 27017
      name: mongodb