# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

variables:
  containerRegistry: 'ThreeTierApplication_ServiceConnection'
  imageName:: 'nodeJS-App'
  imageTag: $(Build.BuildId)
  System.Debug: true

pool:
  name: SelfHostedLinuxVM

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    apt-get install -y docker.io
    docker --version
  timeoutInMinutes: 300
  displayName: 'npm install the dependencies and docker'
  workingDirectory: $(Build.SourcesDirectory)/server

- script: |
    docker run -d -p 27017:27017 --name mongodb mongo:latest
  displayName: 'Run mongodb container'

- script: |
    npm run test
  displayName: 'npm test'
  workingDirectory: $(Build.SourcesDirectory)/server

- task: Docker@2
  inputs:
    containerRegistry: 'ThreeTierApplication_ServiceConnection'
    repository: '$(branch)/$(imageName)'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(imageTag)
  displayName: "Build and push Image container Registry"